main {

    h2 {
        @include fluid-type($min_width, $max_width, 25px, 40px);
        font-family: Assistant;
        font-style: normal;
        font-weight: 700;
        line-height: 109%;
        letter-spacing: 0.03em;
        color: #000000;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            time {
                @include fluid-type($min_width, $max_width, 16px, 23px);
                font-family: Assistant;
                font-size: 30px;
                line-height: 39px;
                letter-spacing: 0.03em;
                color: rgba(0, 0, 0, 0.5);
                margin-right: 2em;
            }

            a {
                @include fluid-type($min_width, $max_width, 14px, 20px);
                font-family: Merriweather;
                line-height: 167%;
                letter-spacing: 0.03em;
                font-weight: 700;
                color: black;
                text-decoration: none;
                border-bottom: 1px solid #E5E5E5;
                box-shadow: 0px -9px 0px #E5E5E5 inset;
                transition: all 0.5s;

                &:hover {
                    border-bottom: 1px solid #D9B45F;
                    box-shadow: 0px -9px 0px #D9B45F inset;
                    transition: all 0.5s;
                }
            }
        }
    }
}