---
layout: layouts/base.njk
permalink: /contact/
---

<div id="contact">
    <form action="https://formspree.io/xneyzaym" method="POST">
        <input name="email" placeholder="What's your email address?" type="email" required>
        <textarea name="message" placeholder="Start typing your message..." required></textarea>
        <div id="actions">
        <button type="submit" id="submit">SUBMIT</button>
        <a href="/" id="cancel">Cancel</a>
        </div>
    </form>
</div>