---
layout: layouts/base.njk
---

<div id="intro">
    <h1>Hello there!</h1>
    <h2>I'm Sofia Bautista.</h2>

    <p>I’m a senior product professional with over 6 years of experience developing digital products for both B2B and B2C markets. I enjoy <span class="strike"><a href="img/tiny-fires-card.jpg" target="_blank">fighting tiny fires for</a></span> leading talented technologists in cross-functional teams. Previously, I've worked within educational technology and media publishing space such as <a href="https://pixieset.com/" target="_blank" rel="noreferrer">Pixieset</a>, <a href="https://www.legible.com/" target="_blank" rel="noreferrer">Legible</a>, and <a href="https://www.evidentpoint.com/" target="_blank" rel="noreferrer">Evident Point Software</a> (now part of <a href="https://www.pressreader.com/" target="_blank" rel="noreferrer">PressReader</a>).</p>

    <p>I hold a MSc in Management from <a href="https://illinois.edu/" target="_blank" rel="noreferrer">University of Illinois at Urbana-Champaign</a>'s <a href="https://giesbusiness.illinois.edu/" target="_blank" rel="noreferrer">Gies College of Business</a> and a BSc in <a href="http://www.sfu.ca/siat.html" target="_blank" rel="noreferrer">Interactive Arts & Technology</a> + <a href="http://www.sfu.ca/communication.html" target="_blank" rel="noreferrer">Communications</a> from <a href="https://www.sfu.ca/" target="_blank" rel="noreferrer">Simon Fraser University</a>. I also like teaching young people about technology and design.</p>

    <p>Want to know more? <a href="/contact" id="open-form">Let’s talk</a>.</p>
</div>
