---
layout: layouts/base.njk
---

<div id="intro">
    <h1>Hello there!</h1>
    <h2>I'm Sofia Bautista.</h2>

    <p>I’m currently a Senior Technical Product Manager @ <a href="https://pixieset.com/" target="_blank" rel="noreferrer">Pixieset</a> working on creating an all-in-one platform for photographers to run their business online. I <span class="strike"><a href="img/tiny-fires-card.jpg" target="_blank">fight tiny fires for</a></span> lead talented technologists working in cross-functional teams. Previously, I worked at <a href="https://www.legible.com/" target="_blank" rel="noreferrer">Legible</a> and <a href="https://www.evidentpoint.com/" target="_blank" rel="noreferrer">Evident Point Software</a>.</p>

    <p>If I’m not at work, I’m moonlighting as a MSc in Management candidate at the <a href="https://illinois.edu/" target="_blank" rel="noreferrer">University of Illinois at Urbana-Champaign</a>'s <a href="https://giesbusiness.illinois.edu/" target="_blank" rel="noreferrer">Gies College of Business</a>. I also hold a BSc in <a href="http://www.sfu.ca/siat.html" target="_blank" rel="noreferrer">IAT</a> + <a href="http://www.sfu.ca/communication.html" target="_blank" rel="noreferrer">CMNS</a> from <a href="https://www.sfu.ca/" target="_blank" rel="noreferrer">Simon Fraser University</a>. I also like teaching young people about technology and design.</p>

    <p>Want to know more? <a href="/contact" id="open-form">Let’s talk</a>.</p>
</div>
