---
layout: layouts/base.njk
permalink: /blog/posts/{{ title | slug }}/index.html
---
<h1>{{ title }}</h1>
<h3>{{ date | readableDate }}</h3>
<img src="{{ featuredImage | url }}" alt="{{ featuredImage }}"></img>
<p>{{ content | safe }}</p>